alias cman='man -S2:3' # Restrict man to C sections.
alias ...='cd ../..'
alias ..='cd ..'
alias app='open -a'
alias c='open -a Calculator'
alias calc='bc -lq'
alias d='open -a Dictionary'
alias dl='cd ~/Downloads'
alias dt='cd ~/Desktop'
alias dutil='open -a Disk\ Utility'
alias edit='open -a TextEdit'
alias gdiff='open -a FileMerge'
alias gftp='open -a Transmit'
alias hibdefault='sudo pmset -a hibernatemode 3'
alias hiboff='sudo pmset -a hibernatemode 0'
alias hibon='sudo pmset -a hibernatemode 1'
alias hide='chflags hidden' # Hide file from GUI in OS X.
alias lock='sudo chflags uchg' # Lock file from GUI in OS X.
alias ls='ls -F'
alias mon='open -a Activity\ Monitor'
alias pa='open -a Pages'
alias pass='open -a 1Password'
alias plist='open -a Property\ List\ Editor'
alias ss='ssh inky@sporkage.com'
alias targz='tar zxvf'
alias top='top -d' # Disable memory object map reporting to load top faster.
alias unarchive='open -a The\ Unarchiver'
alias unhide='chflags unhidden' # Unhide file from GUI in OS X.
alias unlock='sudo chflags nouchg' # Unlock file from GUI in OS X.
alias view='open -a Preview'
alias xcode='open -a Xcode'
alias zap='open -a AppZapper'

# vim:ft=zsh
