alias ...='cd ../..'
alias ..='cd ..'
alias ai='open -a Adobe\ Illustrator\ CS3'
alias ap='open -a Adobe\ Photoshop\ CS3'
alias app='open -a'
alias appengine='cd ~/Dropbox/Projects/AppEngine'
alias bnr='cd ~/Dropbox/Miscellaneous/Code/BNR'
alias c='open -a Calculator'
alias calc='bc -lq'
alias code='cd ~/Dropbox/Miscellaneous/Code'
alias chrome='open -a Google\ Chrome --args' # Non-blockingly opens chrome.
alias lastchrome='open -a Google\ Chrome --args --restore-last-session'
alias cman='man -S2:3' # Restrict man to C sections.
alias dl='cd ~/Downloads'
alias dt='cd ~/Desktop'
alias dutil='open -a Disk\ Utility'
alias edit='open -a TextEdit'
alias gdiff='opendiff'
alias gftp='open -a Transmit'
alias hiboff='sudo pmset -a hibernatemode 0' # Disables sleep-to-disk on OS X.
alias hibon='sudo pmset -a hibernatemode 1' # Enables sleep-to-disk on OS X.
alias hibdefault='sudo pmset -a hibernatemode 3' # Back to default setting.
alias hide='chflags hidden' # Hide a file from GUI in OS X.
alias ip='curl -s "http://whatismyip.org" -w "\n"'
alias keychain='open -a Keychain\ Access'
alias lock='sudo chflags uchg' # Lock file from modification in OS X.
alias lockmac='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'
alias ls='ls -F'
alias mon='open -a Activity\ Monitor'
alias mp3='open -a iTunes'
alias o='osascript -e'
alias pa='open -a Pages'
alias pass='open -a 1Password'
alias plist='open -a Property\ List\ Editor'
alias q='exit'
alias s='open -a Safari'
alias screen='screen -U' # Add utf-8 support to screen
alias sizeof='du -sh' # Outputs size of folder & contents.
alias ss='ssh inky@sporkage.com'
alias targz='tar zxvf'
alias top='top -d' # Disable memory object map reporting to load top faster.
alias unarchive='open -a The\ Unarchiver'
alias unhide='chflags nohidden' # Unhide a file from GUI in OS X.
alias unlock='sudo chflags nouchg' # Unlock file from modification in OS X.
alias view='open -a Preview'
alias vim='vim -n'
alias vncon='sudo touch /etc/ScreenSharing.launchd' # Enables VNC on OS X.
alias vncoff='sudo rm /etc/ScreenSharing.launchd' # Disables VNC on OS X
alias xcode='open -a Xcode'
alias zap='open -a AppZapper'

# -- Functions --
#
# Lookup item in OS X dictionary.
dict() { open "dict://$1" }

# Connect to VNC address.
vnc() { open "vnc://$1" }

# Remove .DS_Store files.
rmds() {
	if [[ $1 == "" ]]; then
		echo "usage: rmds [directory]";
	else
		find $1 -name ".DS_Store" -type f -print -delete;
	fi
}

# Quickly lookup entry in Wikipedia.
wiki() {
	if [[ $1 == "" ]]; then
		echo "usage: wiki [term]";
	else
		dig +short txt $1.wp.dg.cx;
	fi
}

# vim:ft=zsh
