[user]
	name = Michael Sanders
	email = michael.sanders@fastmail.com
[core]
    editor = vim
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.gitignore
	pull = pull --ff-only
[mergetool]
	keepBackup = false
	prompt = false
[push]
	default = tracking
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[merge]
	tool = opendiff
[diff]
	tool = chdiff
[difftool]
	prompt = false
[difftool "chdiff"]
    cmd = chdiff "$LOCAL" "$REMOTE"
	trustExitCode = true
[mergetool "chdiff"]
    cmd = chdiff "$LOCAL" "$REMOTE"
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
[commit]
	gpgsign = true
