[user]
	name = Michael Sanders
	email = michael@msanders.com
[core]
    editor = vim
	whitespace = trailing-space,space-before-tab
[alias]
    up = "!git remote update -p; git merge --ff-only @{u}"
[mergetool]
	keepBackup = false
[diff]
	mnemonicprefix = true
[push]
	default = tracking
[merge]
	stat = true
